= render "home"
= render "features"
= render "testimonials"
= render "pricing"
= render "clients"
= render "shared/footer"
/ Back to top
%a#back-to-top.back-to-top{:href => "#"}
  %i.fa.fa-angle-up
/ js placed at the end of the document so the pages load faster
